/* 
Dark grey and orange theme
#393939 - dark grey
#6E6E6E - light grey
#FF5A09 - bright orange
#F3843E - pale orange
#FF9900 - Mango
*/

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:0.8em;
    margin: 0;
    padding: 0;
}

#main{
    padding-top: 70px;
    background-color: white;
}

#photo > img {
    height: 300px;
}

/* astronomy page */

#ngts_cover {
    margin-top:20px;
}

#ngts_cover img{
    width:450px;
}

.facility_summary{
    width:440px;
    padding:0 5px 0 5px;
}

#nites_w1m_cover {
    margin-top:20px;
}

#nites_w1m_cover img{
    width:450px;
}

#superwasp_cover img{
    width:450px;
}

/* photography page */

.wide_photo img{
    width:100%;
}

.wide_photo_margin{    
    margin-top: 20px;
}

/* publications page */

#publications h2{
    font-size: 2em;
    margin:10px 0 10px 0;
}

.paper{
    margin-bottom: 10px;
}

.paper p{
    margin:2px;
}

.paper > .title{
    font-weight:bold;
    font-size: 125%;
}

.paper > .authors{
    font-weight:200;
    font-size: 90%;
}

.paper > .date{
    font-weight:200;
    font-size: 90%;
    padding-top:5px;
}

.paper > .journal{
    font-weight:200;
    font-size: 90%;
    padding-top:5px;
}

.paper a {
    text-decoration: none;
    color: #FF9900;
    padding-left:5px;
    padding-right:5px;
}

.paper a:hover{
    color: #FF5A09;
}

iframe {
    margin-top: 20px;
}

/* Python page */

#python_summary {
    margin-top:20px;
    width:80%;
}

#python_summary a{
    text-decoration: none;
    color: #FF9900;
}

#python_summary a:hover{
    color: #FF5A09;
}

#python_summary li {
    list-style:none;
    float:left;
    padding: 5px 16px 5px 16px;
}

.break{
    clear: both;
}

.highlight_reference a{
    text-decoration: none;
    color: #FF9900;
}

.problem_explanation{

}

/* Pyro4 page*/

h1 a{
    text-decoration: none;
    color: #FF9900;
    font-weight: 400; 
}

h1 a:hover {
    color: #FF5A09;
}

/* Web Dev page */

#web_dev_summary {
    margin-top:20px;
    width:80%;
}

#web_dev_summary a{
    text-decoration: none;
    color: #FF9900;
}

#web_dev_summary a:hover{
    color: #FF5A09;
}

#web_dev_summary li {
    list-style:none;
    float:left;
    padding: 5px 44px 5px 44px;
}



